.container {
  margin: 10px;
}
.title {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
  text-transform: uppercase;
}
.filterAndSortButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  margin: 10px 0;
  input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #a9a9a9;
    margin-right: 10px;
    width: 30%;
    height: 20px;
  }
  p {
    margin-right: 5px;
  }
  select {
    width: auto;
    padding: 3px;
    border-radius: 3px;
    margin-right: 5px;
    border-color: #a9a9a9;
  }
  button {
    background-color: white;
    color: #3d91f5;
    padding: 4px;
    border-radius: 3px;
    border: 1px solid #a9a9a9;
  }
}
